<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WZXJianShuPopDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BE2908F1C47C3D900A4B47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE290A81C47C3D900A4B47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE290B31C47C3D900A4B47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
